:root {
    --white: #FFFFFF;
    --lite_white: #B2C5D2;
    --blue: #001D49;
    --bg_color:#000C1D;
    /* font-size */
    --fs_xsm: 14px;
    --fs_2xsm: 16px;
    --fs_sm: 18px;
    --fs_md: 20px;
    --fs_lg: 21.744px;
    --fs_xl: 25px;
    --fs_2xl: 30px;
    --fs_3xl: 50px;
    --fs_4xl: 70px;

    /* font-weight */
    --fw_300: 300;
    --fw_400: 400;
    --fw_500: 500;
    --fw_600: 600;
    --fw_700: 700;


}
.bg_color{
    background-color: var(--bg_color);
}
.fw_300 {
    font-weight: var(--fw_300);
}

.fw_400 {
    font-weight: var(--fw_400);
}

.fw_500 {
    font-weight: var(--fw_500);
}

.fw_600 {
    font-weight: var(--fw_600);
}

.fw_700 {
    font-weight: var(--fw_700);
}

.blue {
    color: var(--blue);
}

.lite_white {
    color: var(--lite_white);
}

.white {
    color: var(--white);
}

.fs_xsm {
    font-size: var(--fs_xsm);
}

.fs_2xsm {
    font-size: var(--fs_2xsm);
}

.fs_sm {
    font-size: var(--fs_sm);
}

.fs_md {
    font-size: var(--fs_md);
}

.fs_lg {
    font-size: var(--fs_lg);
}

.fs_xl {
    font-size: var(--fs_xl);
}

.fs_2xl {
    font-size: var(--fs_2xl);
}

.fs_3xl {
    font-size: var(--fs_3xl);
}

.fs_4xl {
    font-size: var(--fs_4xl);
}

.ff_poppins {
    font-family: "poppins", sans-serif;
}

@media (max-width:1200px) {
    :root{
        --fs_xsm: 14px;
        --fs_2xsm: 16px;
        --fs_sm: 18px;
        --fs_md: 14px;
        --fs_lg: 21.744px;
        --fs_xl: 25px;
        --fs_2xl: 23px;
        --fs_3xl: 36px;
        --fs_4xl: 70px;
    }
    
}
@media (max-width:576px) {
    :root{
        --fs_xsm: 10px;
        --fs_2xsm: 10px;
        --fs_sm: 18px;
        --fs_md: 14px;
        --fs_lg: 21.744px;
        --fs_xl: 25px;
        --fs_2xl: 16px;
        --fs_3xl: 50px;
        --fs_4xl: 70px;
    }
    
}